$black: #191919;
$white: #fff;
$grey: #f0f0f0;
$red: #b8614b;
$blue: #4b6cb7;
$blue2: #182848;

$color-font-main: $black;
$color-font-second: $white;
$color-font-third: $blue;
$color-font-forth: $blue2;

$color-bg-main: $white;
$color-bg-black: $black;
$color-bg-blue: $blue;
$color-bg-blue2: $blue2;
$color-bg-grey: $grey;

$color-button-bg: $blue;
$color-button-bg--red: $red;
$color-button-bg--black: $black;
$color-button-bg--blue2: $blue2;

$color-border-blue: $blue;

$color-card-title: $red;
$color-card-label: $blue2;
$color-card-background: $white;

$color-news-tag: $red;